.bg-login {
  min-height: 100vh;
  background-color: #1A1640;
  color: white;
  padding: 3rem;

  h6 {
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 500;
  }
}

.btn-primary {
  background-color: #4D17E2;
}